<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.maxqiu.demo.mapper.RoleMapper">
    <select id="getByUserId" resultType="com.maxqiu.demo.entity.Role">
        SELECT *
        FROM role r
        WHERE r.id IN (SELECT z.rid
                       FROM user_role z
                       WHERE z.uid = #{userId})
    </select>
</mapper>
